[Unit]
Description=Water System Monitor
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/water-monitor

[Install]
WantedBy=multi-user.target
Alias=water.service